<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>
  <p>
    Splurty was built by <a target="_blank" href="http://github.com/JayBoucher">Jay</a>. A new and upcoming web developer whom is on a mission to show people the technical skills needed to launch their own MVPs and turn ideas into reality.
  </p>
  <br />
  <p>
    Working towards being an active web developer.
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
  </p>
   <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'jay.JPG', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Jay Boucher</h2>
      <br />
      <p>
        Jay Boucher is a beginner web developer attending University of Texas Austin Boot Camp. Currently have served in the United States Armed Forces for the past 20 years and looking to transition within the next 9 months to a new career path. Have fundamental experience in computer hardware and information technology support consisting of Microsoft Server and end-user management platforms in enterprise environments.
      </p>
    </div>
  </div>
  <br class="clear" />
</div>
<br class="clear" />
<br />
<br />
<br />
<br />